* {
    box-sizing: border-box;
 }
 body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
    letter-spacing : 0.2em;
 }
 
 
 header {
   padding: 30px 4% 10px;
   position: fixed;
   top: 0;
   width: 100%;
   white-space: nowrap;
   background-color: transparent;
   display: flex;
   align-items: center;
   font-family: 'M PLUS 1p', sans-serif;
   z-index: 3;
   
   
}
header.change-color{
   padding: 30px 4% 10px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #000;
   transition: background-color 0.4s ease-out;
   display: flex;
   align-items: center;
   font-family: 'M PLUS 1p', sans-serif;
}
 h1 {
    margin: 0; padding: 0;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
 }
 a {	
    text-decoration: none;
    color: #fff;
 } 
 nav {
    margin: 0 0 0 auto;
    overflow-x: scroll;
     /* IE, Edge 対応 */
     -ms-overflow-style: none;
     /* Firefox 対応 */
     scrollbar-width: none
 }
 nav::-webkit-scrollbar {
    display:none; 
 }
 ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding-bottom: 20px;
 }
 li {
    margin: 0 0 0 70px;
    font-size: 14px;
 }
 li a{
    position: relative;
    margin: 0px;
    
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}

 nav li a:after {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0%;
    height: 4px;
    background-color:yellow;

    transition:0.4s;
    content: "";
  }

  .change-color li a:after {
   
   background-color:#0872ae;

   
 }

 
  li a:hover:after {
    width: 100%;

  }

  

 
 .main-visual {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    font-family: 'Shippori Mincho', serif;
    
    height: 100vh;
    background: url('main_visual.jpeg') top center / cover no-repeat;
 }

 .main-visual h2{
     color:#fff;
     font-size: 60px;
     text-shadow: 2px 3px 2px #808080;
     letter-spacing: 13px;
 }

 .main-visual h3{
   color:#fff;
   font-size: 60px;
   text-shadow: 2px 3px 2px #808080;
   letter-spacing: 13px;

}
 

.container {
	max-width: 1400px;	/*最大幅。これ以上広くならない指定。*/
	margin: 0 auto;
   background-color: white; 
}

/*コンテンツ（上のcontainerの中のブロック）
---------------------------------------------------------------------------*/
.contents {
	overflow: hidden;
	padding: 50px 3%;
}
.contents section + section {
	padding-top: 5px;
   padding-bottom: 1px;
   margin-top: 30px;
   
  

}

 .contents h2 {
	margin-bottom:10px;
	clear: both;
	padding: 0 20px;
	font-size: 30px;		
	border-bottom: solid 3px #000;
	
   /* border-left: 15px solid #0872AE; */
	color:#000;			
	
}
.contents h2 span{
   margin-left: 20px;
   font-size: 18px;
   color: rgb(175, 153, 52);
   font-family: 'Scheherazade New', serif;
}

.catch{
    padding: 50px 3%;
    display: flex; 
    padding-bottom: 0;
    justify-content: space-between;
    margin-top: 0%;
    font-family: 'Noto Sans JP', sans-serif;
   
}
.catch h3{
    letter-spacing: 5px;
    font-size: 60px;
    
    /* text-align: center;		 */
	color:#000;
}

.catch h4{
    letter-spacing: 5px;
    font-size: 30px;
    /* text-align: center;		 */
    color:#000;

}

.catch h4 span{
    color:red;
   
}
.catch-img
{
  z-index:2;
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 2s;
}
.catch-img.is-show {
   opacity: 1;
   visibility: visible;
   transform: translateY(0px);
 }
.catch img
{
   position: absolute;
   width: 660px;
   height: 480px;
   right: 0px;
   
}
.left-catch
{
  width: 700px;
  z-index:1;
  position: relative;
 
}
.left-catch h6{
   font-size: 18px;
   letter-spacing: 5px;
   line-height: 2.875;
   background-color: rgb(247, 247, 247);
   padding-left: 25px;

}

.second-catch{
   padding: 50px 3%;
   display: flex; 

   justify-content: space-between;
   margin-top: 0%;
  
}
.second-catch h3{
   letter-spacing: 5px;
   font-size: 60px;
   
  color:#000;
}

.second-catch h4{
   letter-spacing: 5px;
   font-size: 30px;
   /* text-align: center;		 */
   color:#000;

}

.second-catch h4 span{
   color:red;
  
}
.second-right-catch
{
 z-index:1;
 margin-top: -390px;

}
.second-catch .catch-img img
{
  
  width: 770px;
  height: 520px;
  /* left: 60px; */
}
.second-catch .catch-img
{
 width: 770px;
 z-index:2;
 position: relative;
 opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1.5s;

}
.second-catch .catch-img.is-show{
   opacity: 1;
   visibility: visible;
   transform: translateY(0px);
}
.second-right-catch h6{
   font-size: 18px;
   letter-spacing: 5px;
   line-height: 2.875;
   background-color: rgb(247, 247, 247);
   padding-left: 55px;
   padding-bottom: 40px  ;
   height: 520px;
   padding-top: 11px;
}


.news{
   background-color: #fafafa;
   
}


/* .news dl {
	padding-left: 20px;
	margin-bottom: 15px;
    font-weight: bold;
    border: solid 3px #0872AE;
    background-color: #fff;
   
}
.news  h2 {
	margin-bottom:20px;
	clear: both;
	padding: 0 20px;
	font-size: 30px;		
   
	border: solid 3px #0872AE;
	background:#fff;
   
	color:#000;			
	
}
.news dt {
	float: left;
	width: 9em;
	letter-spacing: 0.1em;
    
}

.news dd {
	padding-left: 9em;
} */
.NewsList_main {
   margin: 1.47vw 0 0;
   display: flex;
   flex-direction: column;
}
li {
   list-style-type: none;
   box-sizing: border-box;
}

.NewsItem_main{
   padding: 1.25vw 0;
   border-top: 1px solid #dedede;
   display: flex;
   margin-left: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    color: #000;
    text-decoration: none;

}
.NewsItem_date{
   width: 7.17vw;
   padding: 0 1.47vw 0 0;
   align-items: center;
   letter-spacing: .04em;
   color: #aaa;
}

.news ul li a {
   margin-top: 0;
   margin-bottom: 0;
   color: #222;
}
.NewsItem_link{
   display: flex;
   align-items: center;
 

}
.NewsItem_category{
   font-family: Roboto,sans-serif;
   letter-spacing: .04em;
   color: #d62b7b;
   margin-right:10px ;
   width: 50px;
}
.NewsItem_title{
   font-size: 1rem;
   box-sizing: border-box;
   margin-left: 20px;
}

/* .attract-1{
   margin:70px ;
   border: double 5px #4ec4d3;
}

.attract-1 h3{
    letter-spacing: 5px;
    font-size: 30px;
    text-align: center;		
}
.attract-1 h3 span{
   border-bottom:3px solid red;
} */
.box {
   position: relative;
   margin: 2em 0;
   padding: 0.5em 1em;
   background-color: rgb(247, 247, 247);
   /* border: solid 3px #0872AE; */
}
.box .box-title {
   position: absolute;
   display: inline-block;
   top: -27px;
   left: -3px;
   padding: 0 9px;
   height: 25px;
   line-height: 25px;
   font-size: 17px;
   background: #000;
   color: #ffffff;
   font-weight: bold;
   border-radius: 5px 5px 0 0;
}
.box p {
   margin: 0; 
   padding: 0;
   font-size: 22px;
}
.box p span{
   color: red;
}
.main-menu{
   background-color: #fafafa;
   
}

.main-menu h5{
    letter-spacing: 5px;
    font-size: 30px;
    border-left:15px solid #0872AE;
    background-color: #000; 
    margin-bottom: 0;
    color: #fff;
    padding: 0 20px;
}

.columns-container {
   display: flex;
   margin-bottom: 80px;
   flex-wrap: wrap;
}
.columns-contents {
   flex-grow: 1;
   min-width: 0;
   word-break: break-word;
   overflow-wrap: break-word;
   margin: 20px;
   width: 250px;
   height: 150px;
}
.columns-contents img{
   width: 250px;
   height: 150px;
   
}
.columns-contents img:hover{
   opacity: 0.5;
}
p{
   font-size: 16px;
   margin-top: 3px;

}
footer {
	clear: both;
	text-align: center;
	background: #222;	
	color: #fff;		
	font-size: 85%;	
  	
}
footer a {
	color: #fff;
	text-decoration: none;
}
footer a:hover {
	color: rgb(10, 72, 206);	/*マウスオン時の文字色*/
}
footer .pr {
	display: block;
	font-size: 80%;
}

small {
    font-size: 16px;
}
